@import '../../main.scss';

.article {
    background-color: rgba(206, 206, 206, 0.514);
    overflow: hidden;
}

.article-container {
    margin: 5rem auto;
    width: 80%;
    display: flex;
}
.article-header {
    text-align: center;
    // border: 1px solid black;
    flex: 1;

    &-img {
        display: block;
        width: 75%;
        margin: 1em auto;
    }
    &-title {
        margin: 1em;
        font-weight: 100;
    }
}
.article-nav {
    // border: 1px solid black;
    flex: 1;
    display: flex;

    &-button {
        align-self: center;
        padding: 1em;
        border: 1px solid black;
        margin: 0 auto;
        margin-bottom: 3em;
        display: block;
        width: 10em;
        text-align: center;
        text-decoration: none;
        color: black;
        .i {
            margin-left: 1em;
            margin-bottom: 0.1em;
            font-size: 0.85em;
            color: white;
        }
        &:hover {
            
            background: black;
            color: white;
            transition: all 0.4s ease-in-out;
            .i {
                transform: translateX(0.25em);
                transition: all 0.2s ease-in-out;
            }
        }
    }
}
