@import '../../main.scss';

.navbar {
    position: absolute;
    height: 5em;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.navbar-home {
    flex: 1;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-around;
    // border: 1px solid white;
}
.navbar-link {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar-link a {
    color: white;
    text-decoration: none;

}