@import '../../main.scss';

.work-title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
}

.work-container {
    width: 80%;
    margin: 3em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.work-component {
    border: 1px solid black;
    text-align: center;
}