@import url('https://fonts.googleapis.com/css?family=Open+Sans|Futura|Lato');

* {
    margin: 0;
    padding: 0;
}

$background-gray: rgba(206, 206, 206, 0.514);
$light-brown: rgba(184,133,92, 0.88);
$brown: rgba(150,95,65, 0.88);
// $background-gray: #94928C;